doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title pico8tracker by TBD

    link(rel='stylesheet', href='stylesheets/app.css', type='text/css')
  body
    #keyboard
    #oscilloscope
    script(src='javascripts/vendor.js')
    script(src='javascripts/app.js')
    script.
      require('initialize');

